<app-nav></app-nav>


<!--<table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Nacionality</th>
      <th>Birthday</th>
      <th>Academical Degree</th>
      <th>Teaching Areas</th>
      <th>Price Per Hour</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers">
      <td>{{teacher.name}}</td>
      <td>{{teacher.nacionality}}</td>
      <td>{{teacher.birthday}}</td>
      <td>{{teacher.academicalDegree}}</td>
      <td>{{teacher.teachingAreas}}</td>
      <td>{{teacher.pricePerHour}}</td>
      <td>{{teacher.rating}}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">textsms</i>
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Search</label>
      </div>
    </div>
  </div>
</div>-->

<router-outlet></router-outlet>