<div class="section">
  <h5>Personal Information</h5>
  <div class="divider"></div>
  <div class="row containersection">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="first_name_icon_prefix" type="text" class="validate">
          <label for="first_name_icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="last_name_icon_prefix" type="text" class="validate">
          <label for="last_name_icon_prefix">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="email_icon_prefix" type="text" class="validate">
          <label for="email_icon_prefix">Email Address</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">flag</i>
          <input id="icon_nacionality" type="tel" class="validate">
          <label for="icon_nacionality">Nacionality</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">schedule</i>
          <input id="icon_timezone" type="tel" class="validate">
          <label for="icon_timezone">Timezone</label>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="section">
  <h5>Professional Information</h5>
  <div class="divider"></div>
  <div class="row containersection">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">school</i>
          <input id="school_icon_prefix" type="text" class="validate">
          <label for="school_icon_prefix">Academical Degree</label>
        </div>
        <div class="input-field col s6">
          <input id="school_name" type="text" class="validate">
          <label for="school_name">School</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
              <i class="material-icons prefix">language</i>
              <input id="languages_icon_prefix" type="text" class="validate">
              <label for="languages_icon_prefix">Languages</label>
            </div>
      </div>
    </form>
  </div>
</div>