<header>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="/profile">Edit Profile</a></li>
    <li><a href="#!">Messages</a></li>
    <li class="divider"></li>
    <li><a href="#!">Help</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/home">Become a teacher</a></li>
        <li><a routerLink="/chat">Messages</a></li>
        <li><a href="badges.html">Help</a></li>
        <!-- Dropdown Trigger -->
        <li><a materialize="dropdown-trigger" class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!<i
              class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
  <!--<a class="dropdown-trigger" data-target="dropdown1">Dropdown-->
</header>